* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 62.5%;
}

body {
  font-family: "Play", sans-serif;
  background: #343a40;
}

span {
  display: inline-block;
}

.nav-bar {
  color: #ff6b6b;
  background-color: #7950f2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0;
}

.title {
  font-family: "Silkscreen", sans-serif;
  font-size: 2.5rem;
}

.personal-info {
  display: flex;
  justify-items: center;
  gap: 0.5rem;
}

.tribute {
  letter-spacing: 1px;
}

.github-icon {
  height: 20px;
}

.algos {
  font-family: inherit;
  background-color: #ff6b6b;
  width: 12rem;
  height: 3rem;
  border-radius: 8px;
  padding: 0 1rem;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
}

.algos:hover {
  background-color: #e74242;
}

.slider-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.slider {
  cursor: pointer;
}

.wrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}

.slider-text {
  margin-bottom: 0.5rem;
  letter-spacing: 1px;
}

.action-buttons {
  display: flex;
  gap: 2rem;
  max-height: 5.5rem;
}

.action-buttons button {
  padding: 0.8rem 1rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
}

.new-btn {
  font-family: inherit;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.new-btn:hover {
  background-color: rgb(201, 197, 197);
}

.cycle-icon {
  height: 18px;
}

.sort-btn {
  font-family: inherit;
  background-color: #82c91e;
}

.sort-btn:hover {
  background-color: #65ab03;
}

.visualizer-container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.complexity {
  margin-top: 5rem;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.complexity-title {
  color: #e7f5ff;
}

.time-complexity {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.time-complexity div {
  font-size: 1.4rem;
}

.time-worst {
  color: #d3f9d8;
}

.time-average {
  color: #8ce99a;
}

.time-best {
  color: #51cf66;
}

.space-complexity {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.space-complexity div {
  font-size: 1.4rem;
}

.space-worst {
  color: #63e6be;
}

.arrays-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80vh;
  gap: 4px;
}
